
<h1 class="main-header">Cafe Tew</h1>
<div class="center-card card1">
  <div class="card-content white-text">
    <h3>Food</h3>
    <!-- <div><img src=”food.jpeg” alt="Food" style="width:50px;height:50px;"></div> -->
    <a href="/apps/new" class="btn">View Menu</a>
  </div>
</div>

<div class="center-card card2">
  <div class="card-content white-text">
    <h3>Drinks</h3>
    <!-- <img src=”drinks.jpeg” alt="Drinks"> -->
    <a href="/apps" class="btn">View Drinks</a>
  </div>
</div>

<div class="center-card card3">
  <div class="card-content white-text">
    <h3>Dessert</h3>
    <!-- <div><img src=”dessert.jpeg” alt="Dessert" style="width:50px;height:50px;"></div> -->
    <a href="/apps" class="btn">View Desserts</a>
  </div>
</div>
